body {
  background-image: url("background.jpg");
}
#main{
  background-color: white;
  padding-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}
  

#top{
  margin-top: -20px ;
  margin-left: 20px;
  margin-right: 20px;
  text-align: right;
  color: #3CB8B8;
  background-color: #A8F0EF;
}
#abc{
  margin-bottom: 0px;
  font-weight: normal;
}
#abcd{
  margin-top: 2px;
  font-weight: normal;
}
#left{
  border: 5px;
  border-style: solid;
  border-color: #0A7D7F;
  background-color: #3FE0D0;
  text-align: left;
  width: 220px;
  margin-left: 20px;
  display: inline-block;
}
#friends{
  margin-left: 30px;
  color: #3CB8B8;
  font-weight: normal;
  
}
#righttop{
  display: inline-block;
  display: flex;
  background-color: #E8FAFA;
  border: 5px;
  border-style: solid;
  border-color:#C3E7EA;
  width: 1500px;
  
}
#sp{
  display: inline;
}